
<div class="container d-flex justify-content-center align-items-center form-container">
  <div>
  <h1>Stupid coaching</h1>
    <form action="/answer" data-turbo="false">
      <label for="question" class="form-label label-size">Ask your coach anything!</label>
      <div class="d-flex">
        <input type="text" name="question" id="question" class="form-control form-br-right input-width">
        <input type="submit" value="Ask!" class="btn btn-primary form-br-left">
      </div>
    </form>
  </div>
</div>
